html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #FFFAF0;
}

/* Style pour PageContenu.php */

div.NewRace, div.NewVille, div.NewOrganisation {
	display: none;
	position: relative;
}

fieldset {
	width: 60%;
	margin: auto;
	background-color: #F0FFF0;
}

legend {
	margin: auto;
	display:block; 
	text-align:center; 
}

div:not(.choix_contenu) label{
	display:block; 
	width: 160px;
	float:left;
}

div.choix_contenu {
	position: fixed, absolute;
	margin-left: 1%;
}

div.choix_contenu label {
	display:block; 
	width: 180px;
	float:left;
}

input.bouton_retour {
	display: block;
	margin-top: 4%;
}